name: ARCHE MD-Import

on:
  workflow_dispatch

jobs:
  prepare_data_for_ingest:
    name: Import Arche MD
    runs-on: ubuntu-latest
    env:
      ANT_OPTS: -Xmx5g
    steps:
    - name: Perform Checkout
      uses: actions/checkout@v2
    - name: Install Saxon, Ant and Fundament
      run: |
        apt-get update && apt-get install openjdk-11-jre-headless ant -y --no-install-recommend
        ./script.sh
    - name: Install Python Package
      run: |
        pip install acdh-tei-pyutils>=0.20.0
    - name: Fetch and preprocess Data
      run: |
        ./fetch_data.sh
    - name: Build ARCHE-MD
      run: |
        ant -f build_arche.xml
    - name: ingestion dependencies
      run: |
        composer require "acdh-oeaw/arche-ingest:^1"
    - name: ingest arche-cols
      run: |
        vendor/bin/arche-import-metadata html/arche-cols.rdf https://arche-dev.acdh-dev.oeaw.ac.at/api ${{secrets.ARCHE_LOGIN}} ${{secrets.ARCHE_PASSWORD}}
    - name: ingest arche
      run: |
        vendor/bin/arche-import-metadata html/arche.rdf https://arche-dev.acdh-dev.oeaw.ac.at/api ${{secrets.ARCHE_LOGIN}} ${{secrets.ARCHE_PASSWORD}}